{% extends 'base.html' %}

{% block meta %}
<title> Create Task </title>
{% endblock meta %}

{% block content %}

<div class="container-fluid">
    <h2 style="text-align: center;">Create Task</h2>

    <form method="POST" action="">
        {% csrf_token %}
            <div class="form-floating mb-3" style="width: 50%; margin: auto;">
                <input type="text" class="form-control" id="input_title" placeholder="Title" name="title">
                <label for="input_title">Title</label>
            </div>

            <div class="form-floating mb-3" style="width: 50%; margin: auto;">
                <input type="text" class="form-control" id="input_desc" placeholder="Description" name="description">
                <label for="input_desc">Description</label>
            </div> 
            <div style="text-align: center;">
                <input class="btn login_btn bg-primary text-white" type="submit" value="Submit">     
            </div>      
    </form>
</div>

{% endblock content %}