{% extends 'base.html' %}

{% block meta %}
<title>Login</title>
{% endblock meta %}

{% block content %}

<div class="container-fluid">
    <h1 style="text-align: center;">Login</h1>

    <form method="POST" action="">
        {% csrf_token %}
            <div class="form-floating mb-3" style="width: 50%; margin: auto;">
                <input type="text" class="form-control" id="input_username" placeholder="Username" name="username">
                <label for="input_username">Username</label>
            </div>

            <div class="form-floating mb-3" style="width: 50%; margin: auto;">
                <input type="password" class="form-control" id="input_password" placeholder="Password" name="password">
                <label for="input_password">Password</label>
            </div> 
            <div style="text-align: center;">
                <input class="btn login_btn bg-primary text-white" type="submit" value="Login">     
            </div>      
    </form>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}   

    <div style="text-align: center;">
        <p class="pt-3" style="color: red;">Belum mempunyai akun?</p> 
        <a href="{% url 'todolist:register' %}">Buat Akun</a>
    </div>

</div>

{% endblock content %}