{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

     <div class = "container-fluid">
        <h1 class="pt-2 mb-2" style="text-align: center;">Formulir Registrasi</h1>  

            <form method="POST" style="align-self: center;">  
                {% csrf_token %}  
                <table>  
                    {{ form.as_table }}  
                </table>  
                <div><button class="btn btn-primary" type="submit"> Daftar </button></div>
            </form>

        {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
        {% endif %}
    </div>

{% endblock content %}