{% extends 'base.html' %}

{% block meta %}
<title>Registrasi Akun</title>
{% endblock meta %}

{% block content %}  

     <div class = "container-fluid">
        <h1 class="display-6 pt-2 mb-4" style="text-align: center;">Registrasi</h1>  

            <form method="POST">  
                {% csrf_token %}  
                <table style="margin: auto;">  
                    {{ form.as_table }}  
                </table>  
                <div class = "pt-3" style="text-align: center;">
                    <button class="btn btn-primary" type="submit"> Daftar </button>
                </div>
            </form>

        {% if messages %}  
            <ul>   
                {% for message in messages %}  
                    <li>{{ message }}</li>  
                    {% endfor %}  
            </ul>   
        {% endif %}
    </div>

{% endblock content %}