{% extends 'base.html' %}

{% block meta %}
<title> To-Do List </title>
{% endblock meta %}

{% block content %}
<div class="container-fluid">
  <h1 style="text-align: center;">To-Do List</h1>

  <h4>Nama:</h4>
  <p>{{nama}}</p>

  <h4>NPM:</h4>
  <p>{{npm}}</p>

    {% for task in data %}
    <div class="card mb-3" style="width: 30%; margin:auto">
      <div class="card-body">
        <h3>{{task.title}}</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{task.user}}</li>
          <li class="list-group-item">{{task.date}}</li>
          <li class="list-group-item mb-2">{{task.description}}</li>
        </ul>
        {% if task.is_finished %}
            <p style="color: green;">Selesai</p>
        {% else %}
            <p style="color: red;">Belum Selesai</p>
        {% endif %}
        <div style="text-align: center;">
          <button><a href="{% url 'todolist:change_status' task.id %}">Change status</a></button> 
          <button><a href="{% url 'todolist:delete_task' task.id%}">Delete</a></button> 
        </div>
      </div>
    </div>
      
    {% endfor %}

<div class="mb-4" style="text-align: center;">
  <button><a href="{% url 'todolist:create_task' %}">Tambah Task Baru</a></button>
  <button><a href="{% url 'todolist:logout' %}">Logout</a></button>
</div>

{% endblock content %}