{% extends 'base.html' %}

{% block meta %}
<title> To-Do List </title>
{% endblock meta %}

{% block content %}
<div class="container-fluid">
    <h1 class="display-5 p-3" style="text-align: center;">To-Do List</h1>

    <h4>Nama:</h4>
    <p>{{nama}}</p>

    <h4>NPM:</h4>
    <p>{{npm}}</p>

    <div id="tasks"></div>

    <script>
        function show() {
            $.ajax({
                url: "json/"
            }).done(data => {
                data.forEach(task => {
                    let hasil = `<div class="card mb-3" style="width: 30%; margin:auto">
      <div class="card-body">
        <h3>${task.fields.title}</h3>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">${task.fields.user}</li>
          <li class="list-group-item">${task.fields.date}</li>
          <li class="list-group-item mb-2">${task.fields.description}</li>
        </ul>`

                    if (task.fields.is_finished) {
                        hasil += `<p style="color: green;">Selesai</p>`
                    } else {
                        hasil += `<p style="color: red;">Belum Selesai</p>`
                    }

                    hasil += `<div style="text-align: center;">
          <button><a href="change-status/${task.pk}">Change status</a></button> 
          <button><a href="delete-task/${task.pk}">Delete</a></button> 
        </div>
      </div>
    </div>`
                    $('#tasks').append(hasil)
                })
            })
        }

        $(document).ready(function () {
            show()
        })
    </script>

    <script>
        $(document).ready(function () {
            $("#new-task").submit(function (e) {
                e.preventDefault()
                var form = $(this)
                $.ajax({
                    type: "POST",
                    url: "add/",
                    data: form.serialize(),
                    success: function (data) {
                        $('#tasks').html("")
                        show()
                    }
                });
            })
        })
    </script>

    <div class="mb-4" style="text-align: center;">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#modalTask">Tambah Task
            Baru</button>
        <a class="btn btn-primary" style="background-color: red; color: black;"
            href="{% url 'todolist:logout' %}">Logout</a>
    </div>

    <div class="modal fade" id="modalTask" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="modalTask">Create task</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="new-task" method="POST" action="/todolist/add/">
                        {% csrf_token %}
                        <div class="form-floating mb-3" style="width: 50%; margin: auto;">
                            <input type="text" class="form-control" id="input_title" placeholder="Title" name="title"
                                required>
                            <label for="input_title">Title</label>
                        </div>

                        <div class="form-floating mb-3" style="width: 50%; margin: auto;">
                            <input type="text" class="form-control" id="input_desc" placeholder="Description"
                                name="description" required>
                            <label for="input_desc">Description</label>
                        </div>
                        <div style="text-align: center;">
                            <button class="btn login_btn bg-primary text-white" type="submit" value="Submit"> Submit
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% endblock content %}